div{
    position:sticky;
    top:10px;
    background-color: aqua;
    border:2px solid black;
    font-size: x-large;
    padding: 20px;
}
h1{
    background-color: azure;
    font-size: xx-large;
    text-align: center;
    padding: 30px;
}
p{
    font-size: larger;
    background-color: aquamarine;
}